<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form method="post">
    <label for="id">ID</label>
    <input type="text" name="id" id="id">
    <label for="name">Name</label>
    <input type="text" name="name">
    <label for="age">Age</label>
    <input type="number" name="age">
    <input type="submit" name="submit" value="Submit">
    <input type="submit" name="search" value="Search">
    <input type="submit" name="update" value="Update">
</form>
<div>
    <div class="container">
        <table class="table">
            <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            </thead>
            <tbody>
            {% if students %}
                {% for student in students %}
                    <tr>
                        <td>{{ student.id }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.age }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">No Student Found</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>